<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}\Logs\"/>
  <variable name="appName" value="SalesReceipt"/>

  <targets async="true">

    <target name="tracefile" xsi:type="File"
        layout="${longdate} | ${level} | ${logger} | ${mdlc:CorrelationId:raw=true} ${message} ${exception:format=ToString,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}"
        fileName="${logDirectory}Trace.log" maxArchiveFiles="10" archiveAboveSize="10485760"/>

    <target name="debugfile" xsi:type="File"
        layout="${longdate} | ${level} | ${logger} | ${mdlc:CorrelationId:raw=true} ${message} ${exception:format=ToString,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}"
         fileName="${logDirectory}Debug.log" maxArchiveFiles="10" archiveAboveSize="10485760"/>

    <target name="infofile" xsi:type="File"
        layout="${longdate} | ${level} | ${logger} | ${mdlc:CorrelationId:raw=true} ${message} ${exception:format=ToString,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}"
       fileName="${logDirectory}Info.log" maxArchiveFiles="5" archiveAboveSize="10485760"/>

    <target name="warnfile" xsi:type="File"
        layout="${longdate} | ${level} | ${logger} | ${mdlc:CorrelationId:raw=true} ${message} ${exception:format=ToString,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}"
        fileName="${logDirectory}Warn.log" maxArchiveFiles="5" archiveAboveSize="10485760"/>

    <target name="errorfile" xsi:type="File"
        layout="${longdate} | ${level} | ${logger} | ${mdlc:CorrelationId:raw=true} ${message} ${exception:format=ToString,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}"
       fileName="${logDirectory}Error.log" maxArchiveFiles="2" archiveAboveSize="10485760"/>

    <target name="fatalfile" xsi:type="File"
        layout="${longdate} | ${level} | ${logger} | ${mdlc:CorrelationId:raw=true} ${message} ${exception:format=ToString,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}"
       fileName="${logDirectory}Fatal.log" maxArchiveFiles="1" archiveAboveSize="10485760"/>

    <!--<target name="database" xsi:type="Database" connectionString="${configsetting:name=ConnectionStrings.Logging}">
      <commandText>
        insert into dbo.EventLog (ApplicationName, MachineName, SessionId, Category, Date, Logger, Message, Exception)
        values (@ApplicationName, @MachineName, @SessionId, @Category, @Date,@Logger, @Message, @Exception);
      </commandText>

      <parameter name="@ApplicationName" layout="${appName}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@SessionId" layout="${replace:inner=${aspnet-request-querystring}:searchFor=sessionId=:replaceWith=}" />
      <parameter name="@Category" layout="${level:upperCase=true}" />
      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=ToString,data:maxInnerExceptionLevel=10}" />
    </target>-->

  </targets>

  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    <logger name="*" minlevel="Trace" writeTo="tracefile" />
    <logger name="*" minlevel="Debug" writeTo="debugfile" />
    <logger name="*" minlevel="Info" writeTo="infofile" />
    <logger name="*" minlevel="Warn" writeTo="warnfile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="Fatal" writeTo="fatalfile" />

    <!--<logger name="*" minlevel="Info" writeTo="database" />-->

  </rules>
</nlog>
